body{
  text-align: center;
  padding: 5%;
  background-image: linear-gradient(to right,#E8FAC2,#CCFAC2,#C2FAD2,#C2FAE6,#BAF8DB);
  justify-content: center;
  margin: auto;
}
h1{
  font-family: cursive;
  color: #AF1A6F;
}
.images_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: centre;
}
.image{
  width: 250px;
  height: 300px;
  padding: 5px;
  transition: all 1s;
  border-width: 1px;
  border-color: yellow;
  margin: 1px;
  opacity: 0.5;
}
.image:hover{
  border: solid;
  box-shadow: 10px 10px 5px #ccc;
  border-radius:45px 15px 45px;
  border:2px solid #fff;
  width: 300px;
  height: 380px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 1;
}
footer{
  background-color: white;
  color: black;
  margin: auto;
  padding: 20px;
}
